<div ng-if="user.userLoggedIn !== null">
<h2>Lists</h2>
  <div ng-repeat="list in user.listsCreated">
    <h3>{{list.listName}}</h3>
    <ul>
      <div ng-repeat="todo in list.todos">
        <div ng-if="todo.done === false">
        <li ng-click="user.toggleTodoEdit(todo)">
          <div ng-include="'partials/todoDetail.html'"></div>
        </li>
      </div>
      </div>
    </ul>
    <form ng-submit="user.addTodo(list._id)">
      <input type="text" ng-model="user.newTodo" placeholder="Enter new item">
      <button type="submit">Add item</button>
    </form>
    <ul>
      <h4 ng-if="list.todos.length > 0">Completed Items</h4>
      <div ng-repeat="todo in list.todos">
        <div ng-if="todo.done === true">
        <li ng-click="user.toggleTodoEdit(todo)">
          <div ng-include="'partials/todoDetail.html'"></div>
        </li>
      </div>
      </div>
    </ul>


  </div>

</div>
